
.dashboardLeft{
    color: grey;
    background-color: transparent;
    border: none;
}

.dashboardLeft:active{
    color: orange !important;
}

.dashboardbadge{
    background-color: grey;
    color: white;
}



.cardName{
    font-size: 12px;
}

.cover{
    background-color: rgb(234, 242, 242);
}

.coverTwo{
    background-color: rgb(235, 216, 219);
}