
.dashboardLeft{
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

.dashboardLeft:hover{
    color: orange;
}

.dashboardbadge{
    background-color: orange;
}

.dashboardbadge:hover{
    background-color: orange;
}

.dashboardbadge:active{
    color: orange;
}

.dashboardLeft:active{
    color: orange !important;
}

.dashboardbadge{
    background-color: grey;
    color: white;
}



.cardName{
    font-size: 12px;
}

.cover{
    background-color: rgb(234, 242, 242);
}

.coverTwo{
    background-color: rgb(235, 216, 219);
}

@media (max-width: 300px) {
    .chat{
        display: none;
    }

    .dashboard{
        width: 100%;
    }
}